---
import '../styles/global.css'
import BaseLayouts from '../layouts/BaseLayouts.astro';
import Blogpost from '../components/Blogpost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const nombre = "Kelrod";
const pageTitle = "Mi Blog sobre mi aprendizaje en Astro"



---
	<BaseLayouts>
		<h1>{pageTitle}</h1>
		<p>Este es el blog de {nombre}</p>
		<ul>
			{allPosts.map((post) => <Blogpost postLink={post.url} postTitle={post.frontmatter.title} />)}
		</ul>
	</BaseLayouts>
		
		
</html>