---
import '../styles/global.css'
import BaseLayouts from '../layouts/baseLayouts.astro';

const pageTitle = "Pagina de Inicio"
---

<BaseLayouts pageTitle={pageTitle}>
 <p>Mi subtitulo del blog</p>
</BaseLayouts>