---
import Social from "./Social.astro";

---

<footer>
  <p>¡Más información sobre mis proyectos en: </p>
    <Social platform="twitter" username="Kelzem14"/>
    <Social platform="github" username="Kelrod14"/>
    <Social platform="youtube" username="@Kelzem"/>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>